<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Blog</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/index.css">
<link rel="shortcut icon" href="images/fav.png" type="image/x-icon" />
<!-- font awesome -->
<script src="https://kit.fontawesome.com/d6b3f4e3c1.js" crossorigin="anonymous"></script>
<!-- lottie ANIMATION -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<!-- TEXT AUTOMETICAL-->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<script src="js/main.js"></script>