<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header.ejs') %>

</head>

<body>
  <!-- ===================navbar==================== -->
  <%- include('./partials/navbar.ejs') %>


    <!-- ===================herro section==================== -->

    <div class="box md:w-full md:h-screen md:grid md:grid-cols-2 md:gap-2">
      <div class="md:w-full md:h-56 md:translate-y-32 translate-y-5 md:ms-14 p-9 text-center">
        <h1 id="" class="head-titel text-3xl md:text-8xl md:font-extrabold">Welcome Your Blog</h1>
        <p class=" pt-6 head-p text-xl md:text-4xl"><span id="element">Create Our Blog</span></p>
      </div>

      <div class="md:w-full md:h-56 mx-auto">
        <img class="md:translate-y-14 translate-y-14 " src="https://tinypng.com/images/apng/panda-waving-2x.png" alt="">
        <div class="img md:-translate-y-3  mx-auto">
          <img src="images/g.png" alt="">
        </div>
      </div>
    </div>


    <!--========================  box card details 1=====================-->

    <section class="bg-slate-400 w-full h-auto">
      <div class="md:w-full md:h-96 w-full h-full p-5 overflow-hidden">
        <div class="md:flex md:items-center md:justify-center md:w-full md:h-96  ">
          <div class="box md:w-8/12 md:h-72 md:translate-x-14 bg-white rounded-xl z-50">
            <div class="md:p-5 p-3">
              <p class="md:text-2xl text-xl ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima cumque
                iusto
                doloremque
                natus quibusdam ullam nemo laudantium delectus ex</p>
            </div>
            <div class="float-right me-2 w-32 h-11 rounded-3xl ">
              <button
                class="w-full h-full border-spacing-x-1 bg-cyan-500  rounded-3xl text-xl border-4 hover:bg-pink-400">Show</button>
            </div>
          </div>
          <div class="md:w-2/4 md:h-96 mb-10 md:p-2 hover03 mt-4">
            <div class="w-full h-full border-x-sky-600 img-box">
              <figure>
                <img class="md:w-full w-full md:h-full h-72 object-cover rounded-lg"
                  src="https://source.unsplash.com/random/1920x1080/?Trending" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>


      <!--========================  box card details 2=====================-->
      <div class="md:w-full md:h-3/4 md:mt-5 p-8 w-full h-auto">
        <div class="md:flex md:items-center md:justify-center w-full  h-full">
          <div class="w-full h-full md:w-2/3 md:h-full rounded-lg  hover03">
            <figure>
              <img class="w-full h-full object-cover rounded-lg "
                src="https://source.unsplash.com/random/1220x1080/?Popular" alt="">
            </figure>
          </div>
          <div class="box md:w-8/12 md:h-60 md:-translate-x-14 bg-white  z-50 mt-3">
            <div class=" p-3">
              <p class="md:text-xl text-xl ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima cumque
                iusto
                doloremque
                natus quibusdam ullam nemo laudantium delectus Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolores delectus labore cum quibusdam quas. Suscipit blanditiis molestias dolores illo? Cumque!</p>
            </div>

          </div>
        </div>
      </div>
    </section>







    <!-- box -->



    <section class="text-gray-600 body-font bg-slate-700">
      <div class="container px-5 py-24 mx-auto">
        <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">More Information</h1>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-gray-800 p-8 rounded">
              <img src="https://source.unsplash.com/random/1920x1080/?Sunset over the Ocean" alt="">
              <p class="leading-relaxed mb-6 text-white">Synth chartreuse iPhone lomo cray raw denim brunch everyday
                carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic
                heirloom try-hard pabst authentic iceland.</p>
              <a class="inline-flex items-center">
                <img alt="testimonial" src="https://source.unsplash.com/random/1920x1080/?panda"
                  class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font font-medium text-gray-100">Holden Caulfield</span>
                  <span class="text-gray-500 text-sm">UI DEVELOPER</span>
                </span>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-gray-100 p-8 rounded">
              <img src="https://source.unsplash.com/random/1920x1080/?news" alt="">

              <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra
                before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom
                try-hard pabst authentic iceland.</p>
              <a class="inline-flex items-center">
                <img alt="testimonial" src="https://source.unsplash.com/random/1920x1080/?information"
                  class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font font-medium text-gray-900">Alper Kamu</span>
                  <span class="text-gray-500 text-sm">DESIGNER</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./partials/footer.ejs') %>