<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <% if(msg.length>0){ %>
        <div id="alert-border-2"
          class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800 "
          role="alert">
          <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <div class="ml-3 text-xl font-medium">
            <%- msg %>
          </div>
          <button type="button"
            class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
            data-dismiss-target="#alert-border-2" aria-label="Close">
            <span class="sr-only">Dismiss</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
          </button>
        </div>
        <% } %>
    <section class="h-screen">
        <div class="container h-full px-6  ">
            <div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
                <!-- Left column container with background-->
                <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
                    <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://lottie.host/169e1209-37f2-4d21-b331-30f03ef846ab/Nt5AI1jrJt.json" background="#fff" speed="1" style="width: 500px; height: 500px" direction="1" mode="normal" loop autoplay></lottie-player> -->
                    <lottie-player src="https://lottie.host/ab26f452-1f3c-4c8f-b53f-3cd635afe4c0/Cg2uUtLjIX.json" background="#fff" speed="2" style="width: 00px5; height: 00px5" direction="1" mode="normal" loop autoplay></lottie-player>
                </div>

                <!-- Right column container with form -->
                <div class="md:w-8/12 lg:ml-6 lg:w-5/12 p-10 box">
                    <form action="/login" method="post">
                        <p class="w-32 h-20 text-2xl font-bold">Login</p>
                        <!-- Email input -->
                        <div class="relative mb-6" data-te-input-wrapper-init>
                            <label for=""
                                class=" mb-2 text-xl font-medium text-gray-900 dark:text-gray-6 00">Email</label>

                            <input type="email" name="email" id="large-input"
                                class="p-4 bg-transparent border-4 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300  w-full">

                        </div>

                        <!-- Password input -->
                        <div class="relative mb-6" data-te-input-wrapper-init>
                            <label for=""
                                class=" mb-2 text-xl font-medium text-gray-900 dark:text-gray-6 00">Password</label>
                            <input type="password" name="password" id="large-input"
                                class="p-4 bg-transparent border-4 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300  w-full">

                        </div>

                        <!-- Remember me checkbox -->

                        <!-- Submit button -->
                        <button type="submit"
                            class="inline-block w-full rounded bg-primary px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-black  bg-blue-600"
                            data-te-ripple-init data-te-ripple-color="light">
                            Login
                        </button>


                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>